.choice-num__text {
  font-size: 1.2em;
  margin-bottom: 1em;
  text-align: center;
}

.choice-num__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.8em;
  margin-bottom: 1.5em;
}

.choice-num__item {
  padding: 0.7em 1.2em;
  font-size: 1em;
  border: 2px solid var(--border-color-blue);
  background-color: white;
  color: var(--border-color-blue);
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.choice-num__item[aria-pressed="true"] {
  background-color: var(--border-color-blue);
  color: var(--bg-light);
}

.choice-num__item:hover {
  background-color: var(--hover-num-not-active) ;
}

.choice-num__item[aria-pressed="true"]:hover {
  background-color: var(--hover-num-active);
  border-color: var(--hover-num-active);
  color: var(--bg-light);
}

.choice-num__btn {
  display: block;
  margin: 0 auto;
  padding: 0.7em 2em;
  font-size: 1em;
  text-transform: uppercase;
  border: none;
  background-color: var(--accent-color-orange);
  color: var(--bg-light);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, opacity 0.3s;
}

.choice-num__btn:hover {
  background-color: var(--accent-color-orange-dark);
}

.choice-num__btn:disabled {
  background-color: var(--accent-color-orange-light); /* более светлый цвет */
  cursor: not-allowed;
  opacity: 0.6; /* делаем "приглушенной" */
}


.multiplication {
  text-align: center;
  margin-top: 2em;
}

.multiplication__question {
  font-size: 2.5em;
  margin-bottom: 1em;
  font-weight: bold;
}

.multiplication__answer {
  font-size: 1.5em;
  margin-bottom: 1.5em;
}

.multiplication__finish {
  background-color: var(--accent-color-red);
  color: white;
  padding: 0.7em 2em;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.multiplication__finish:hover {
  background-color: var(--accent-color-red);
}

.icon {
  margin-right: 0.5em;
  vertical-align: middle;
}

.result {
  margin-top: 2em;
  padding: 1em;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}